openapi: 3.0.3
info:
  title: ITMS Data Push API
  description: API for pushing ITMS data to UnifillAI.
  version: 1.0.0
servers:
  - url: https://unifillai.com/api/custom-workflow
    description: Production server
paths:
  /customer/create:
    post:
      summary: Push ITMS Data to UnifillAI
      description: Endpoint to push ITMS data to UnifillAI with required payload.
      operationId: pushITMSData
      tags:
        - ITMS Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ticket_id:
                  type: integer
                  example: 1234567
                insurer_name:
                  type: string
                  example: "Universal XXXXXX"
                preferred_addons:
                  type: array
                  items:
                    type: string
                  example:
                    - "Zero Dep"
                    - "Consumables"
                    - "Invoice Cover"
                    - "PA Owner Driver"
                preferred_idv:
                  type: number
                  example: 1380000
                case_type:
                  type: string
                  example: "Renewal"
                policy_type:
                  type: string
                  example: "Own demage"
                VehicleType:
                  type: string
                  example: "Car"
                vehicle_sub_type:
                  type: string
                  example: "NULL"
                vehicle_sub_usage_type:
                  type: string
                  example: "NULL"
                registration_no:
                  type: string
                  example: "BR10XXXXX"
                rto:
                  type: string
                  example: "BRXX"
                makeModelName:
                  type: string
                  example: "HyXXX"
                gross_weight:
                  type: string
                  example: "NULL"
                engine_capacity:
                  type: number
                  example: 1497
                claim_taken:
                  type: integer
                  example: 0
                previous_ncb:
                  type: number
                  example: 1
                fuel_type:
                  type: string
                  example: "Petrol"
                registration_date:
                  type: number
                  example: "01-01-2022"
                manufacturing_date:
                  type: string
                  format: date
                  example: "31-08-2023"
                owner_type:
                  type: integer
                  example: 1
                first_name:
                  type: string
                  example: "JHON"
                last_name:
                  type: string
                  example: "DOE"
                mobile:
                  type: string
                  example: "9999999999"
                email_id:
                  type: string
                  format: email
                  example: "dummy_quote@gmail.com"
                address:
                  type: string
                  example: "ABC CITY, XYZ ROAD"
                state:
                  type: integer
                  example: 5
                city_name:
                  type: string
                  example: "XYZ CITY"
                pincode:
                  type: string
                  example: "000000"
                gender:
                  type: string
                  example: "female"
                marital_status:
                  type: string
                  example: "married"
                pan_card:
                  type: string
                  example: "NULL"
                aadhar_card_number:
                  type: string
                  example: "NULL"
                engine_no:
                  type: string
                  example: "XXXXX1313"
                chassis_no:
                  type: string
                  example: "XXXXX11313"
                pre_policy_insurer_name:
                  type: string
                  example: "SBI XXXX"
                policy_number:
                  type: string
                  example: "XXXXX12323"
                permit_usage_types:
                  type: string
                  example: "NULL"
                car_financed:
                  type: integer
                  example: 1
                finance_company_name:
                  type: string
                  example: "Bank Of XXXXX"
                payment_mode:
                  type: string
                  example: "online"
                inspection_type:
                  type: integer
                  example: 0
                inspection_id:
                  type: string
                  example: "ABCDXXXXX112"
                rc_copy:
                  type: string
                  example: "XXXXXXXXXXXXXXX"
                prev_copy:
                  type: string
                  example: "XXXXXXXXXXXXXXX"
                rc_copy_doc_id:
                  type: string
                  example: "XXXXXXXXXXXXXXX"
                prev_copy_doc_id:
                  type: string
                  example: "XXXXXXXXXXXXXXX"
                rc_copy_link:
                  type: string
                  format: uri
                  example: "https://example.com/doc-service"
                prev_copy_link:
                  type: string
                  format: uri
                  example: "https://example.com/doc-service"
              additionalProperties: true
              required:
                - ticket_id
                - insurer_name
                - registration_no
                - makeModelName
      responses:
        '200':
          description: Successful data push
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Data pushed successfully"
                  status:
                    type: string
                    example: "success"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Invalid payload"
        '401':
          description: Unauthorized
        '500':
          description: Internal server error
      security:
        - api_key: []
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: authkey
      in: header
